.app-wrapper {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "category user"
    "question";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.category {
  grid-area: category;
}

.user {
  grid-area: user;
}

.question {
  grid-area: question;
}